@using Lucent.Common.Filters

@model Lucent.Common.Filters.Filter

<div class="form-group">
    @Html.LabelFor(model => model.Property, new { @class= "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(model=>model.Property)
        @Html.ValidationMessageFor(model => model.Property)
    </div>
    @Html.LabelFor(model => model.FilterType, new { @class= "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m=>m.FilterType, 
            Html.GetEnumSelectList<FilterType>(),
            "--Filter Type--", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FilterType)
    </div>
    @Html.LabelFor(model => model.Value, new { @class= "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(model=>model.Value)
        @Html.ValidationMessageFor(model => model.Value)
    </div>
</div>