@page
@model Lucent.Portal.Models.CampaignsModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Campaigns</h1>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Spend</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var campaign in Model.Campaigns)
            {
                <tr id="@campaign.Id">
                    <td id="@campaign.Id-id">@campaign.Id</td>
                    <td id="@campaign.Id-name">@campaign.Name</td>
                    <td id="@campaign.Id-spend">@campaign.Spend</td>
                    <td id="@campaign.Id-start">@campaign.Schedule.StartDate</td>
                    <td id="@campaign.Id-end">@campaign.Schedule.EndDate</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@campaign.Id">edit</a>
                        <button type="submit" asp-page-handler="delete" 
                                asp-route-id="@campaign.Id">delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="./Create">Create</a>
</form>  
<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/js/campaigns.js"></script>