@using Lucent.Common.Entities;
@model Lucent.Portal.Entities.CampaignContent
<h2>Creatives</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var creative in Model.Campaign.Creatives)
        {
            <tr>
                <td>@creative.Id</td>
                <td>@creative.Name</td>
                <td>
                    <input type="submit" class="btn btn-link" asp-page-handler="RemoveCreative" 
                            asp-route-id="@creative.Id" value="remove" />
                </td>
            </tr>
        }
        @foreach (var creative in Model.CreativeCatalog)
        {
            <tr>
                <td>@creative.Id</td>
                <td>@creative.Name</td>
                <td>
                    <input type="submit" asp-page="./Edit" class="btn btn-link" asp-page-handler="AddCreative" 
                            asp-route-id="@creative.Id" value="add"/>
                </td>
            </tr>
        }
    </tbody>
</table>