@model Lucent.Common.Entities.Campaign           
<div class="form-group">   
    <div class="row">
        @Html.LabelFor(model => model.Name, new { @class= "col-md-2 control-label" })
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.LandingPage, new { @class= "col-md-2 control-label" })
        @Html.EditorFor(model => model.LandingPage)
        @Html.ValidationMessageFor(model => model.LandingPage)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.AdDomains, new { @class= "col-md-2 control-label" })
        @Html.EditorFor(model => model.AdDomains)
        @Html.ValidationMessageFor(model => model.AdDomains)
    </div>

    <div class="row">
        @Html.LabelFor(model => model.BidFilter, new { @class= "col-md-2 control-label" })
        @Html.EditorFor(model => model.BidFilter)
        @Html.ValidationMessageFor(model => model.BidFilter)
    </div>
</div>