@model Lucent.Common.Entities.CampaignSchedule        
<div class="form-group">
    <label class="col-md-2 control-label">Schedule</label>
    <div class="col-md-10"> 
        @Html.LabelFor(model => model.StartDate, new { @class= "col-md-2 control-label" })
        @Html.EditorFor(model => model.StartDate)
        @Html.ValidationMessageFor(model => model.StartDate)
    </div>

    <div class="col-md-10"> 
        @Html.LabelFor(model => model.EndDate, new { @class= "col-md-2 control-label" })
        @Html.EditorFor(model => model.EndDate)
        @Html.ValidationMessageFor(model => model.EndDate)
    </div>
</div>